@model FamilyPhotos.ViewModel.PhotoViewModel

<div>
    @Html.LabelFor(m => m.Title)
    @Html.DisplayFor(m => m.Title)
</div>
<div>
    @Html.LabelFor(m => m.Description)
    @Html.DisplayFor(m => m.Description)
</div>
<div>
    @Html.LabelFor(m => m.PictureFromBrowser)
    @if (Model != null)
    {
        <image src="@Url.Action("GetImage", new { photoId = Model.Id })" />
    }
</div>
