@model FamilyPhotos.ViewModel.PhotoViewModel

<div class="form-group">
    @Html.LabelFor(m => m.Title, htmlAttributes: new { @class = "col-md-2 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.Title, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Description, htmlAttributes: new { @class = "col-md-2 control-label" })
    <div class="col-md-9">
        @Html.TextAreaFor(m => m.Description, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.PictureFromBrowser, htmlAttributes: new { @class = "col-md-2 control-label" })
    @if (Model != null)
    {
        <image src="@Url.Action("GetImage", new { photoId = Model.Id })" class="col-md-2"/>
    }
</div>
