@model IEnumerable<FamilyPhotosWithIdentity.Models.RoleViewModels.RoleViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Create New</a>
</p>
<table class="table" id="tbl_roles">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@*DataTables betöltése: https://datatables.net/*@

@section styles {
    <link rel="stylesheet" type="text/css" href="~/lib/datatables/media/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/datatables/media/css/dataTables.bootstrap.css" />
}

@section scripts {
    <script src="~/lib/datatables/media/js/jquery.dataTables.js" ></script>
    <script src="~/lib/datatables/media/js/dataTables.bootstrap.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#tbl_roles").DataTable({
                serverSide: true,
                ajax: {
                    url: "@Url.Action("Post", "Role")",
                    type: "POST"
                },
                columns: [
                    {
                        data: "name",
                        title: "@Html.DisplayNameFor(model=>model.Name)"
                    },
                    {
                        data: "urlCode",
                        render: function (data) {
                            return "<a href=\"@Url.Action("Edit", "Role")?urlCode=" + data + "\" class=\"btn btn-default\">Edit</a>" +
                                   "<a href=\"@Url.Action("Delete", "Role")?urlCode="+data+"\" class=\"btn btn-default\">Delete</a>";
                        }
                    }
                ]
            });
        });
    </script>

}