@model FamilyPhotos.Models.PhotoModel

<h2>Új kép létrehozása</h2>

@using (Html.BeginForm("Create", "Photo", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    @Html.ValidationSummary();
<div>
    @Html.LabelFor(m => m.Title)
    @Html.EditorFor(m=>m.Title)
    @Html.ValidationMessageFor(m => m.Title)
</div>
<div>
    @Html.LabelFor(m => m.Description)
    @Html.EditorFor(m => m.Description)
    @Html.ValidationMessageFor(m => m.Description)
</div>
<div>
    @Html.LabelFor(m=>m.PictureFromBrowser)
    <input type="file" name="PictureFromBrowser" />
    @Html.ValidationMessageFor(m => m.PictureFromBrowser)
</div>
<div>
    <input type="submit" value="Létrehozás" />
</div>
}
