@*RAZOR nyelven írjuk a nézetet*@
@model IEnumerable<FamilyPhotos.Models.PhotoModel>

<div class="page-header">
    <h2>A fényképek listája</h2>
</div>


<ul>
    @foreach (var photo in Model)
    {
        <li class="list-group-item">
            <div class="media">
                <div class="media-left media-middle">
                    @if (photo.Picture != null)
                    {
                        @*<img src="@Url.Action("GetImage", new { photoId = photo.Id })" class="media-object" width="100"/>*@
                        <img id="FamilyPhoto@(photo.Id)" class="media-object" width="100" />
                    }
                </div>
                <div class="media-body">
                    <h4 class="media-heading">@photo.Title</h4>
                    @*A routingnak átadjuk az id paramétert*@
                    @*@Html.ActionLink("Megtekintés", "Details", new { id = photo.Id }, htmlAttributes: new { @class = "btn btn-success" })*@
                    <button class="btn btn-success" onclick="GetPicture(@(photo.Id))">Megtekintés</button>
                    @Html.ActionLink("Módosítás", "Edit", new { id = photo.Id }, htmlAttributes: new { @class = "btn btn-primary" })
                    @Html.ActionLink("Törlés", "Delete", new { id = photo.Id }, htmlAttributes: new { @class = "btn btn-danger" })
                </div>
            </div>
        </li>
    }
</ul>
<div class="row">
    @*ahhoz, hogy a html class propertyjébe írjuk a btn btn-danger értéket, egy kicsit cselezni kell*@
    @Html.ActionLink("Új fotó létrehozása", "Create", null, htmlAttributes: new { @class= "btn btn-default col-md-offset-2" })
</div>

<div class="row">
    <button class="btn btn-info col-md-offset-2" id="tesztgomb">Teszt</button>
</div>


@*a _Layout-ban @RenderSection("script", false) sorral definiált helyre kerül ez a kódrészlet*@
@section script {
<script type="text/javascript">
    $(document).ready(function () {
            $("#tesztgomb").click(function() {
                alert("Megnyomtad a tesztgombot!");
            });
    });

    function GetPicture(id)
    {
        var src = "@Url.Action("GetImage", new { photoId = 0 })" + id;
        $("#FamilyPhoto" + id).attr("src", src);
    }

</script>
}
